# Node
node_modules/
dist/
.build/
.nyc_output/
coverage/

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Optional cache directories
.cache/
.rpt2_cache/
.rts2_cache_*/
.eslintcache
.stylelintcache

# dotenv files
.env
.env.*.local

# MySQL (optional local files, if applicable)
*.sql
*.dump
mysql_data/

# IDEs & OS
.DS_Store
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# Jest snapshots
__tests__/**/__snapshots__/

# Temporary
.tmp/
.temp/
temp/
tmp/

# Others
node-ts
scripts/dependency-check-report.html
.extras/
.extras/**/*.png
.extras/**/*.gif
.extras/**/*.mp4
src/config/resources/tls/key.pem
sonar-project.properties
